@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: linear-gradient(to top, #00B3AD, #006663);
}

main{
    background-color: white;
    width: 500px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px #005552;
}

h1{
    color: #FF6B1A;
    text-shadow: 1px 1px 1px #d85a17;
    text-align: center;
}

h2{
    color: #B33F00;
}

p{
    text-align: justify;
}